body {
  margin: 15px;
  min-height: 5vh;
  display: grid;
  grid-template-columns: 1fr, auto, auto, 1fr;
  justify-content: right;
  align-items: center;
  grid-gap: 1em;
  overflow-x: hidden;
  font-family: sans-serif;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 0;
  background-color: black;
  color: white;
  text-align: center;
}
header h1 {font-weight: lighter;}
#menu-knop {
  grid-column: 3/4;
  height: 3em;
  font-size: 17px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 3px;
  border-bottom: none;
  padding: 0 20px 0 20px;
  line-height: 3em;
  outline: none;
  text-align: center;
  text-decoration: none;
  margin-top: 100px;
  margin-bottom: 20px;
  cursor: pointer;
}
.vlakje{
  grid-column: 3/4;
  width: 10em;
  padding: 15px 0;
  transition: transform .2s cubic-bezier(.17,.67,.71,1.29);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
  background-color: deepskyblue;
  color: white;
  text-align: center;
}
.vlakje--schuif-uit{
  transform: translateX(50vw);
}
.vlakje2{
  grid-column:3/4;
  width: 10em;
  padding: 15px 0;
  transition: transform .3s cubic-bezier(.17,.67,.71,1.29);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
  background-color: deepskyblue;
  color: white;
  text-align: center;
}
.vlakje3{
  grid-column: 3/4;
  width: 10em;
  padding: 15px 0;
  transition: transform .6s cubic-bezier(.17,.67,.71,1.29);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
  background-color: deepskyblue;
  color: white;
  text-align: center;
}
.vlakje2--schuif-uit{
  transform: translateX(50vw);
}
.vlakje3--schuif-uit{
  transform: translateX(50vw);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 15px;
  background-color: black;
  color: deepskyblue;
  text-align: center;
}
